
.slidSection{
  margin-bottom: 10%;
}
.header {
  color:rgb(255, 100, 46);
  margin-left: 20px;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  
}
.item {
position: relative;
}
.item .layer{
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  background-color: rgba(234, 221, 221, 0.847);
  visibility: hidden;
  transition: all 0.4s ease-in-out;
}
.item .layer .layer-content{
  position: absolute;
  text-align: center;
  font-weight: bold;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 65%;
  color:rgb(255, 100, 46);
  
  
}
.item:hover .layer{
  opacity: 1;
  visibility: visible;
}

.slidHead {
  color: #020202; 
   font-weight: bold;
  font-size: 1.2rem;
   /* Converted from 20px */
}

